.development {
    background-color: #000;
    height: 70vh;
    }
    
    .development .container {
        max-width: 1140px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .development .left {
        background-color: #000;
        color: #f8f8f8;
        margin: auto;
        padding: 1rem;
    }
    
    .development .right {
        background-color: #000;
    }
    
    .img-container {
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        
       
    }
    
    .development img {
        border: 1px solid var(--primary-blue);
        border-radius: 20px; 
        width: 250px;
        box-shadow: 0px 0px 12px var(--primary-purple);
    }
    
    @media screen and (max-width:940px) {
        .development .container {
            flex-direction: column;
            text-align: center;
        }

        .development .right {
            margin: 3rem 0;
        }
        
    }